<h2>Create New Landmark</h2>

<form action="/landmarks" methd=POST>
  <label>Landmark Name:</label>
  <input type="text" name="landmark[name]" id="landmark[name]">
  <br>
  <label>Landmark Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark[year_completed]">

<input type="submit" value="Create a New Landmark" id="Create">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
